*{
    margin: 0;
    padding: 0;
}
/* navigation section started from here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.extra{
    color: #E55473;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

/* The first section started from here */
.banner1-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 50px 230px 0px 230px;
}
.banner1-title{

    width: 500px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 30px;
}
.banner1.photo{
    padding: 50px 230px 0px 0px;
}
.banner1-pera{
    font-size: larger;
    padding-bottom: 30px;
    color: rgba(41, 40, 40, 0.6);
}
.btn{
    background-color:#E55473 ;
    border-radius: 5px;
    border: none;
    padding: 20px 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.btn:hover{
    color: blue;
}
/* secong section started from here */

.section2-container{
    margin: 50px 230px;
   text-align: center;
   padding: 80px;
}
  


.info-title{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 25px;
    color: #272727;
    margin-bottom: 25px;
}
.info-discription{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 50px;
}
.section2-photos{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.picture1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 100px 75px 0px 75px;
}
.picture2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 115px 45px 50px 45px;
}
.picture3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 100px 75px 0px 75px;
}
.picture-pera{
    margin-top: 30px;
    font-size: 25px;
    text-decoration: underline;
}


/* Support & Delivery section started here */

.support-delivery{ 
    margin: 50px 230px ;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 70px 100px;
    text-align: center;
   
    
}

.delivery{
    /* padding: 80px 5px 80px 20px; */
    align-items: center;
}



.support-text{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.support-text:hover{
    color: blue;
}
