*{
    margin: 0;
    padding: 0;
}
/* navigation section started from here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.extra{
    color: #E55473;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

/* The first section started from here */
.banner1-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 50px 230px 0px 230px;
}
.banner1-title{

    width: 500px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 30px;
}
.banner1.photo{
    padding: 50px 230px 0px 0px;
}
.banner1-pera{
    font-size: larger;
    padding-bottom: 30px;
    color: rgba(41, 40, 40, 0.6);
}
.btn{
    background-color:#E55473 ;
    border-radius: 5px;
    border: none;
    padding: 20px 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.btn:hover{
    color: blue;
}